.month {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  background-clip: content-box;

  width: 140px;
  height: 44px;
  margin: 14px 0;

  font-family: Roboto, monospace;
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;

  border-radius: 6px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.14);
}

.month:hover {
  padding: 1px;
  border: 2px solid gray;
}
